.select__control {
	width: 100%;
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	transition: all 0.25s ease-in;

	appearance: none;
	border-radius: 0.5rem;
	border-color: #e5e7eb;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.select__input {
	box-shadow: none !important;
}

.select__control.select__control--is-focused {
	outline: none;
	box-shadow: 0 0 0 2px #fb923c;
	border-color: transparent;
}

.select__option:hover {
	cursor: pointer;
}

.select__option--is-selected {
	background-color: #fb923c !important;
	color: #fff;
}

.select__option--is-focused:not(.select__option--is-selected) {
	background-color: #f9fafb !important;
}

.select__control:hover {
	border-color: #e5e7eb !important;
}

.select__placeholder {
	color: #a0aec0;
}

.select__menu {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) !important;
}