@keyframes ModalFadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }

    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes ModalFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal-animation {
    animation: ModalFadeInUp 0.2s ease-in-out;
}

.modal-animation-bg {
    animation: ModalFadeIn 0.2s ease-in-out;
}