.SearchCardCarousel .slick-dots {
    bottom: 15px !important;
}

.SearchCardCarousel .slick-dots li {
    margin: 0 !important;
    padding: 0 !important;
}

.SearchCardCarousel .slick-dots li button:before {
    font-size: 55px;
    content: '-';
    opacity: .40;
    color: rgb(255, 255, 255);
}

.SearchCardCarousel .slick-dots li.slick-active button:before {
    opacity: 1;
    color: rgb(251 146 60);
}

.SearchCardCarousel .slick-dots li button:hover::before {
    color: rgb(249 115 22);
}

.SearchCardCarousel .slick-prev {
    left: 10px;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.2s ease-in-out;
}

.SearchCardCarousel .slick-next {
    right: 10px;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.2s ease-in-out;
}

.SearchCardCarousel .slick-slider:hover .slick-prev,
.SearchCardCarousel .slick-slider:hover .slick-next {
    opacity: 100%;
    transition: opacity 0.2s ease-in-out;
}